@import url("./theme.css");
@font-face {
  font-family: "League Spartan Medium";
  src: url("../fonts/LeagueSpartan-VariableFont_wght.ttf");
}
@font-face {
  font-family: "League Spartan SemiBold";
  src: url("../fonts/static/LeagueSpartan-SemiBold.ttf");
}
@font-face {
  font-family: "League Spartan Bold";
  src: url("../fonts/static/LeagueSpartan-Bold.ttf");
}
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
  scroll-behavior: smooth;
  font-family: "League Spartan Medium", sans-serif;
}
body {
  position: relative;
  margin: 0;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1;
}
.headerContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5%;
}
.menuIconBtn {
  height: 20px;
  width: 20px;
}
.headerContainer h1 {
  font-family: "League Spartan Medium";
  font-size: 2rem;
  text-align: center;
  margin-left: 40%;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--White);
}
.headerContainer .navContainer {
  display: none;
}
.modalNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.modalNav .navContainer {
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 5%;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.navCloseBtn {
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
}
.modalNav .navContainer nav {
  width: 80%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  color: var(--Black);
  font-family: "League Spartan Bold";
  font-size: 1.2rem;
}
main {
  display: flex;
  flex-direction: column;
}
.sliderContainer {
  width: 100%;
  position: relative;
}
.sliderContainerImg {
  height: 360px;
  overflow: hidden;
}
.sliderImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.sliderContainerText {
  position: relative;
  height: 370px;
}
.sliderContent {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--White);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.sliderContent h2 {
  font-size: 3rem;
  font-family: "League Spartan Bold";
  margin: 0;
}
.sliderContent p {
  color: var(--Dark-Gray);
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.redirect {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  margin-top: 30px;
}
.redirect span {
  letter-spacing: 1rem;
  font-size: 1.2rem;
  font-family: "League Spartan Semibold", sans-serif;
  color: var(--Very-Dark-Gray);
}
.redirect img {
  width: 10%;
  margin-left: 5%;
}

.sliderContainerImg .sliderControl {
  position: absolute;
  background-color: var(--Black);
  right: 0;
  bottom: 0;
  width: 25%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.sliderContainerText .sliderControl {
  display: none;
}
.arrowLeft,
.arrowRight{
  height: 50px;
  width: 50px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.arrowLeft:hover,
.arrowRight:hover {
  background-color: var(--Very-Dark-Gray);
}
.arrowContainer img {
  height: 100%;
}
.bottom img {
  width: 100%;
  height: auto;
}
.about {
  padding: 20px;
}
.about h2 {
  font-family: "League Spartan Semibold", sans-serif;
  letter-spacing: 0.5rem;
}
.about p {
  color: var(--Dark-Gray);
  font-size: 1.2rem;
  line-height: 1.7rem;
}
@media (min-width: 768px) {
  .sliderContainerImg {
    height: 495px;
  }
  .sliderContent p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .redirect {
    margin-top: 35px;
  }
  .about h2 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
@media (min-width: 1024px) {
  .modalNav {
    display: none;
  }
  .menuIconBtn {
    display: none;
  }
  .headerContainer h1 {
    margin-left: 0;
    font-size: 3.2rem;
  }
  .headerContainer .navContainer {
    display: block;
    background-color: transparent;
    height: auto;
    padding-left: 2%;
  }
  .headerContainer .navContainer nav {
    gap: 20px;
  }
  .headerContainer .navContainer nav li a {
    color: var(--White);
    font-size: 2rem;
    font-family: "League Spartan Medium";
  }
  main {
    height: 100vh;
  }
  .top {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 60%;
  }
  .sliderContainerImg {
    height: auto;
  }
  .sliderContent {
    padding: 50px;
  }
  .sliderContent h2 {
    font-size: 3.9rem;
  }
  .sliderContent p {
    line-height: 1.7rem;
  }
  .sliderContainerImg .sliderControl {
    display: none;
  }
  .sliderContainerText .sliderControl {
    position: absolute;
    background-color: var(--Black);
    left: 0;
    bottom: 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 10;
  }
  .redirect {
    margin-top: 0;
  }
  .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 40%;
  }
  .bottom img {
    height: 100%;
  }
  .about {
    padding: 30px;
  }
}

.hide {
  display: none;
}
.moveToRight {
  transform: translateX(0%) !important;
}
.show {
  opacity: 1;
}
